*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 10pt;
}

:root{
    --maincolor:beige;
}
body{
    background-image: url(kepek/black.png);
    margin-bottom: 30px;

}
main{
    display: grid;
    grid-template-areas: 
    "h "
    "n "
    "a "
    "f ";
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(226, 221, 221);
}
header{
    grid-area: h;
    background-image: url(kepek/game.jpg);
    height: 300px;
    background-size: cover;

}
nav{
    grid-area: n;
    background-color: rgb(51, 50, 50);
   
}
nav ul{
    display: grid;
    grid-template-columns: repeat(8, auto)1fr;
}
nav ul li{
    list-style-type: none;
    font-weight: bold;
    color: var(--maincolor);
    padding: 20px;
    border-right: 1px solid beige;
 }
nav ul li:hover{
    background-color: orange;
 
}
nav a{
    text-decoration: none;
    color: beige;

}
.orange{
    background-color: orange;
    border-right: 1px solid beige;
}
.gray{
    border-right: 1px solid beige;
}
article{
    grid-area: a;
    display: grid;
    text-align: justify;
    padding: 15px;
}
article ul{
    padding-left: 30px;
}
article ul li{
    font-size: 10px;
    list-style-type: square;
}

article img{
width: 300px;
float: right;
margin-top: 20px;
margin-left: 15px;

}
article h2{
    font-size: 15px;
    margin-top: 15px;
    font-size: x-large;
}
article p{
    margin-top: 15px;
    margin-bottom: 15px;
}
footer{
    grid-area: f;
    background-color: orange;
    color: black;
    text-align: center;
}
@media screen and (max-width: 700px) {
    
    
}